@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body{
    margin: auto;
}

.container {
    background-color: #F0EABE;
    width: 100%;

}

.container .nav1 {
    display: flex;
    height: 10vh;
}

.container .nav1 .logo {
    width: 25%;
    display: flex;
    align-items: center;
}
.container .nav1 .logo .logos1{
    display: flex;
    /* align-items: center; */
    /* gap: 70px; */
}

.container .nav1 .logo img {
    width: 84px;
    height: 50px;
    /* margin-left: 10%; */
}

.container .nav1 .logo a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(41, 100, 68);
    font-size: 15px;
    font-weight: bolder;
}

.container .nav1 .logo a:hover {
    color: black;
}
.container .nav1 .logos1 .items{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(41, 100, 68);
    font-size: 15px;
    font-weight: bolder;
}

.container .nav1 #nav1 {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 12px;
    /* transform: translateX(-100px); */
}

.container .nav1 #nav1 .search i {
    transform: translate(8px, 18px);
}

.container .nav1 #nav1 .search input {
    width: 100%;
    border-radius: 10px;
    transform: translateY(-10px);
    padding: 10px 10px 5px 25px;
    background: transparent;
    font-weight: bold;
    font-size: 15px;
}

.container .nav1 #nav1 .search input::placeholder {
    transform: translateX(5px);
    text-transform: capitalize;
    font-size: small;
    font-weight: bold;
}


.container .nav1 #nav1 .help {
    display: flex;
    gap: 2.5rem;
}

.para{
   /* background-image: url(/images/jio\ background\ images.jpg); */
   width: 100%;
   height: 70vh;
   /* margin: auto; */
  
}
.para img{
   width: 100%;
   height: 75vh;
   position: absolute;
  z-index: -9999;

}
.para .p1{
    color: white;
    margin-left: 8%;
    width:30%;
    /* margin-left: 8%; */
    padding-top: 5%;
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 900;
} 
.para .p2{
    color: white;
    margin-left: 8%;
    display: flex;
    /* margin-left: 8%; */
    padding-top: 5%;  
    font-weight: 500;
}
.para .p3{
    margin-left: 8%;
    display: flex;
    gap: 4%;
    padding-top: 25px;
    padding-left: 15px;
    padding-bottom: 6px;
}
.para .p3 .b1 button{
    background-color:transparent;
    color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 19px;
    font-weight: bold;
    font-size: medium;
}
.para .p3 .b1 button:hover{
   background-color: black;
    cursor: pointer;
}
.para .p3 .b2 button{
    background-color: transparent;
    padding:11px 35px 11px 35px;
    color: white;
    border-radius: 19px;
    font-weight: bold;
    font-size: medium;
}
.para .p3 .b2 button:hover{
    background-color: black;
    cursor: pointer;
}
.para .p3 .b2 .bg i{
    transform: translateY(-30px);
    padding-left: 135px;
}
.logos {
    display: flex;
    margin: 4%;
    gap: 3rem;
    justify-content: center;
    /* justify-content:space-evenly */
}
.logos a{
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    color: black;
}
.logos :hover{
    background-color:rgb(41, 100, 68);
    cursor: pointer;
}
.loader{
    margin-left: 45%;
border: 16px solid #F0EABE;
 border-top: 16px solid rgb(41, 100, 68); 
 border-radius: 50%; height: 100px; 
 animation: spin 2s linear infinite;
  box-shadow: 8px 0px 15px black;
  width: 100px;
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    50%{
        background-color: #F0EABE ;
    }
    100%{
        transform: rotate(360deg);
    }
}
.para2 .p1{
    color: black;
    margin-left: 42%;
    width:30%;
    padding-top: 2%;
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 900;
}
.para2 .p2{ color:black;
    margin-left:35%;
    display: flex;
    padding-top: 2%;  
    font-weight: 500;
}
.section2{
    display: flex;

}
.section2 .para3{
    /* display: flex; */
    margin-top: 3%;
    margin-left: 20%;
    /* width: 60rem;
    border: 20px solid black;
    padding: 50px;
    height: 40rem; */
}
.section2 .para3 .p1{
    /* display: flex; */
    color: black;
    margin-left: 0%;
    padding-top: 20%;
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 900;
}
/* .section2 .para3 .p2{
    color: black;
    padding-top: 20px;
    font-weight: 500; */


.section2 .para3 .b1 button{ 
    background-color:blue;
    color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 19px;
    font-weight: bold;
    font-size: medium;
   margin-top: 20px;
}
.section2 .img2 img{
    width: 30rem;
    height: 23rem;
}
.section2 .img2{
    padding-right: 15rem;
    padding-top: 4rem;
}
.container .nav1 .logos1{
    display: flex;
    justify-content: space-between;
    padding-top: 31px;

}

@media screen and (max-width:800px) {
    .container{
        width: 115%;
    } 
    .para{
        width: 108%;
    }
    .section2{
        width: 10%;
    }
    .container .nav1 {
        height: 15vh;
    }
    .container .nav1 .logo {
        width: 20%;
       
    }
    .container .nav1 #nav1{
        padding-top: 58px;
    }
}

/* @media screen and  (max-width:1200px) {
    .container{
        width: 108%;
    } 
    .para{
        width: 107%;
    }
    .container .nav1 {
        height: 10vh;
    }
    .container .nav1 .logo {
        width: 93%;
    }
    .section2 .para3 .p1{
        font-size: 30px;
    }
    .section2 .img2 img{
        width: 20rem;
        height: 20rem;
    }
} */

.container .nav1 .logos1{
    width: 45%;
}
@media screen and (max-width:1100px) {
      
    .container{
        height: 100vh;
        width: 102%;
        /* background-color: black; */
    }
    .container .nav1 .logos1{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .container .nav1 .logos1 .items{
        font-size: 2rem;
        /* color: lavender; */
        transform: translateY(12rem);
        text-decoration: none;
        text-transform: uppercase;
        color: rgb(41, 100, 68);
        font-size: 15px;
        font-weight: bolder;
    }

    .container .nav1 #nav1{
        transform: translateX(-76px);
    }
 
    .container .nav1 #nav1 .help i:nth-child(1){
        margin-left: 12px;
    }
    .container .nav1 #nav1 .search{
        width: 10px;
    }
    .para{
        width: 100%;
    }
    .section2 .img2 img{
        width: 20rem;
        height: 20rem;
    }
}
@media screen and (max-width:900px) {
    .container{
        height: 100vh;
        width: 112%;
}
.para{
    width: 112%;
}
.section2 .img2 img{
    width: 20rem;
    height: 20rem;
}
}
 
 
 
 
 
 
 
 
 
 
 
 
 
 /* { */
 
    /* .container{
        width: 101%;
    } 
    .logos1{
        display: flex;
        flex-direction: column;
    }
    .para{
        width: 107%;
    }
    .container .nav1 {
        height: 18vh;
    }
    .container .nav1 .logo {
        width: 85%;
    }
    .section2 .para3 .p1{
        font-size: 30px;
    }
    .section2 .img2 img{
        width: 20rem;
        height: 20rem;
    }
} */

@media  screen and (max-width:900px) {
    .container{
        width: 110%;
    } 
    .para{
        width: 107%;
    }
    .container .nav1 {
        height: 18vh;
    }
    .container .nav1 .logo {
        width: 67%;
    }
    .section2 .para3 .p1{
        font-size: 30px;
    }
    .section2 .img2 img{
        width: 20rem;
        height: 20rem;
    }
}
.border{
    font-size: x-large;
    margin-left: 20%;
    width: 100%;
    height: 100%;
    border: 0.5rem solid black;
    
}